@charset "UTF-8";

/* 全画面共通body */
body {
	background-color:#fff4e0;
}
/* ログイン画面 */
div.logo {
  text-align: center;
}
/* 全画面共通ヘッダー */
* {
  margin:0; padding:0;
}

/*なんかマーカーの変なやつ */
::marker {
	display:none;
}



header {
	display : grid;
	grid-template-columns: 1fr 3fr 1fr;
  	height: 5%;
  	width: 100%;
  	padding-top: 2vh;
  	margin-bottom: 2vh;
  	background-color: #ffc679;
 	 color: black;
	margin: 0 auto;
	justify-items: center;
  	align-items: center;
  	position: flex;
  	z-index:1000;
}

/* ロゴの編集 */
header .headline{
    float: left;
    font-size: 30px;
}

/* タブ */
.tab {
	display: flex;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 100%;
    justify-items: center;
  	align-items: center;
  	width: 70%;
}
.tab li {
	display: grid;
	flex: 1;
    margin: 0 10px;
    padding: 0 10px;
    background: #ffc679;
    height: 100%;
    z-index: 0;
    justify-items: center;
  	align-items: center;

}
/* 選択されたタブ */
.tab li.selected {
    background: #fff4e0;
    color: #000;
    z-index: 2;
    border-bottom-color: #FFF;
}
.tab {
    position: relative;
}
/* タブ選択前に下線 */
.tab:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
/* タブ選択後下線なし */
.tab:before {
    z-index: 1;
}
.tab li {
    position: relative;
    z-index: 0;
}
.tab li.selected {
    z-index: 2;
    border-bottom-color: #FFF;
}
.tab li:before,
.tab li:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
}
.tab li:before {
    left: -6px;
}
.tab li:after {
    right: -6px;
}
.tab li {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.tab li:before {
    border-bottom-right-radius: 6px;
}
.tab li:after {
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
}
.tab li.selected:before {
    box-shadow: 2px 2px 0 #fff4c0;
}
.tab li.selected:after {
    box-shadow: -2px 2px 0 #fff4c0;
}

/*  */
.tab a {
	text-decoration: none;
	color: #000;
}



/*==============================
ここからアイコンCSS
==============================*/
.icon-circle{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
}
.icon-circle img{
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*  */
.my {
	padding-top : 2vh;
	text-align: center; /*中央寄せ */
}



/*==============================
ここからアイコンのモーダルCSS
==============================*/

/* モーダルを開くための要素の設定 */
#openiconModal{
	background-color: transparent;
	appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0em;
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

/* 画面をモーダルで上書き */
.icon_modal {
	display: none;
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 999;
}

/*  */
.icon_modal_content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 50%;
  height: 80%;
  border-radius: 20px;
  background-color:#fff4e0;
}


#closeiconModal {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* モーダル一番外側の要素 */
.icon_modal_box{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	justify-items: center;
	height: 100%;
}

/* アイコンモーダル画像 */
.modal_myicon{
	width: 70%;
	margin: auto;
	text-align: center;
	border-radius: 50%;
}

/* 変更、ログアウトボタン */
.icon_flex{
	display: flex;
}




/* ===

	ここからドロップダウンメニュー

 ===*/

/* メニュー */
#drop-down-menu {
	display:  grid;
	grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  padding: 5px;
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  width: 800px;
  background-color:#ffc679;
  border-radius: 10px;
  position:relative;
}

/* 検索表題 */
.dropdown {
	width:100%;
	background-color: #fff;
}

.dropdown input[type="checkbox"] {
  display: none;
}

.dropdown label {
  cursor: pointer;
}

/* すべてを押したときの動作 */
.all input[type="checkbox"]:checked + label[for="submenu-toggle-1"] + .all_submenu {
  display: block;
  width: auto;
}

/* フォローを押したときの動作 */
.follow input[type="checkbox"]:checked + label[for="submenu-toggle-2"] + .follow_submenu {
  display: block;
  width: auto;
}

/* レビュー内を押したときの動作 */
.in_review input[type="checkbox"]:checked + label[for="submenu-toggle-3"] + .in_review_submenu {
  display: block;
  width: auto;
}

.dropdown a{
  color:#333;
  text-decoration:none;
}

.category{
	display: block;
	border: none;
    padding: 7px;
    text-decoration: none;
    color: #545454;
    background-color: transparent;
    text-align: left;
    width: 100%;
}

.dropdown a:hover{
  color:#333;
  text-decoration:none;
}

/* すべて用サブメニュー */
.all_submenu{
  display: none;
    position: absolute;
    background-color: #FFF;
    width: 170px;
    font-size: 1em;
    text-align: left;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
    padding: 0px  10px 0px  10px;
    z-index: 1;
    top: 30px;
    margin-left: 40px;
    list-style: none;
}

/* follow用サブメニュー */
.follow_submenu{
  display: none;
    position: absolute;
    background-color: #FFF;
    width: 170px;
    font-size: 1em;
    text-align: left;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
    padding: 0px  10px 0px  10px;
    z-index: 1;
    top: 30px;
    margin-left: 40px;
    list-style: none;
}

/* レビュー用サブメニュー */
.in_review_submenu {
  display: none;
    position: absolute;
    background-color: #FFF;
    width: 170px;
    font-size: 1em;
    text-align: left;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
    padding: 0px  10px 0px  10px;
    z-index: 1;
    top: 30px;
    margin-left: 50px;
    list-style: none;
}


.adult_category input[type="checkbox"] {
	display:none;
}

/* 大カテゴリーを表示 */
#adult_category_1 {
	display: block;
	border: none;
    padding: 7px;
    text-decoration: none;
    color: #545454;
    background-color: transparent;
    text-align: left;
    width: 100%;
}

/* 小カテゴリーを表示するcss */
.adult_category_1 input[type="checkbox"]:checked + label[for="adult_category_1"] + .child_category_1 {
  display: block;
  width: auto;
}

/* 小カテゴリーを表示 */
#child_category_1 {
	display: none;
    background-color: #FFF;
    width: 170px;
    font-size: 1em;
    text-align: left;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
    padding: 0px  10px 0px  10px;
    z-index: 1;
    text-align: center;
    top: 30px;
    margin-left: 50px;
    list-style: none;
}


/*===
	ここからレビューアイテム編集用CSS
 ===*/


/* レビュー２列表示 */

.flex-container {
  display: grid;
  grid-template-columns:1fr 1fr;
  flex-wrap: wrap;/* flexアイテムを折り返す（複数行に配置する） */
}

/* レビューアイテム編集用 */

.flex-item {
  background-color:#ffffff;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap : 3vw;
}
.submenu li {
	border-bottom: 1px solid #545454;
}

.submenu li:last-child {
	border-bottom: none;
}

.submenu li a {
	display: block;
    padding: 7px;
    text-decoration: none;
    color: #545454;
}

/* レビューのテキスト */

.grid_item2 {
	text-align : left;
}

/* ↓マイレビューのボディと並び替えの編集用CSS↓ */

.container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 3vw;
}
.scroll {
  width: 100%;
  overflow-y: scroll;
}

.scroll ::-webkit-scrollbar {
  width: 16px;
}

.scroll ::-webkit-scrollbar-track {
  background-color: #fff;
}

.scroll ::-webkit-scrollbar-thumb {
  background-color: #3760d0;
  border-radius: 8px;
}

/* マイレビュー右側の要素編集用 */

.side {
  width: 100%;
  text-align : center;
}

/* 並び替え項目 */

.sort_item{
	list-style:none;
	width: 100px;
	border: 1px solid #000;
    padding: 1vh 2vh 1vh 2vh;
    margin: 2vw auto;
    border-radius: 10%;
    background: #fff;
}

.sort_item li {
	padding-top: 1vh;
	padding-bottom: 1vh;
	border-bottom: 1px solid #000;
}

/*==============================
投稿ボタンCSS
==============================*/

/* 投稿ボタンのCSS */

 .post-btn {
  margin: 0 auto;
}

/* 投稿ボタン用モーダルCSS */




/*==============================
ここからレビューモーダルのCSS
==============================*/

/* モーダルを開くための要素の設定 */
button{
	background-color: transparent;
	appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0.5em;
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

/* モーダルウィンドウの基本スタイル */
.modal {
	display: none;
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 999;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color:#fff4e0;
}


/*==============================
モーダルcloseボタンのCSS
==============================*/
.closeModal {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* モーダル一番外側の要素 */
.modal_box,my_post_Modal{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	overflow-y: scroll;
	height: 100%;
}

/* モーダル左側 */
.modal_img{
	width: 80%;
	height: 80%;
	margin: auto;
}

/* モーダル右側 */
.modal_text{
	width:100%;
	display: grid;
	grid-template-rows: 1fr 3fr;
}

/* 作成日時 */
.create_at{
	text-align: center;
}

.title_box {
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin-bottom: 10px;
}

.modal_title{
	text-align: center;
	font-size: 32px;
	width: 50%;
	margin: 0 auto;
}

.modal_grid{
	display:grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	gap: 5%;
}

/* 評価項目CSS */
.eva{
	width: 100%;
	text-align: justify;
}

/* 公開・非公開,リスト項目,総合評価 */
.modal_grid_right {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: left;
}

/* 項目、点数テーブルCSS */
.modal_table {
	width: 50%;
}

/* 更新削除ボタンCSS */
.modal_btn {
	width: 50%;
	margin-top: 5%;
	border-radius: 1rem;
	cursor: pointer;
}

.btn_up {
	background-color: #ffc679;
}

/*==============================
公開・非公開のボタンCSS
==============================*/

.switch {
  /* switch */
  --switch-width: 46px;
  --switch-height: 24px;
  --switch-bg: rgb(131, 131, 131);
  --switch-checked-bg: rgb(0, 218, 80);
  --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
  --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  /* circle */
  --circle-diameter: 18px;
  --circle-bg: #fff;
  --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
  --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
  --circle-transition: var(--switch-transition);
  /* icon */
  --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
  --icon-cross-color: var(--switch-bg);
  --icon-cross-size: 6px;
  --icon-checkmark-color: var(--switch-checked-bg);
  --icon-checkmark-size: 10px;
  /* effect line */
  --effect-width: calc(var(--circle-diameter) / 2);
  --effect-height: calc(var(--effect-width) / 2 - 1px);
  --effect-bg: var(--circle-bg);
  --effect-border-radius: 1px;
  --effect-transition: all .2s ease-in-out;
}

.switch input {
  display: none;
}

.switch {
  display: inline-block;
}

.switch svg {
  -webkit-transition: var(--icon-transition);
  -o-transition: var(--icon-transition);
  transition: var(--icon-transition);
  position: absolute;
  height: auto;
}

.switch .checkmark {
  width: var(--icon-checkmark-size);
  color: var(--icon-checkmark-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch .cross {
  width: var(--icon-cross-size);
  color: var(--icon-cross-color);
}

.slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: var(--switch-transition);
  -o-transition: var(--switch-transition);
  transition: var(--switch-transition);
  cursor: pointer;
}

.circle {
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background: var(--circle-bg);
  border-radius: inherit;
  -webkit-box-shadow: var(--circle-shadow);
  box-shadow: var(--circle-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  z-index: 1;
  position: absolute;
  left: var(--switch-offset);
}

.slider::before {
  content: "";
  position: absolute;
  width: var(--effect-width);
  height: var(--effect-height);
  left: calc(var(--switch-offset) + (var(--effect-width) / 2));
  background: var(--effect-bg);
  border-radius: var(--effect-border-radius);
  -webkit-transition: var(--effect-transition);
  -o-transition: var(--effect-transition);
  transition: var(--effect-transition);
}

/* actions */

.switch input:checked+.slider {
  background: var(--switch-checked-bg);
}

.switch input:checked+.slider .checkmark {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.switch input:checked+.slider .cross {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.switch input:checked+.slider::before {
  left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
}

.switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter) - var(--switch-offset));
  -webkit-box-shadow: var(--circle-checked-shadow);
  box-shadow: var(--circle-checked-shadow);
}

/* 総合評価CSS */
.price_text{
	display: flex;
}


/* 総合評価CSS */
.avg{
	align-self: end;
}

/* 備考CSS */
.remarks{
	width: 90%;
	background-color: #fff;
	border: 1px solid #000;
	justify-items:center;
	margin-top: 20px;
	grid-column-start: 2;
	grid-column-end: 3;
}

/* バックナンバーCSS */

.back_number{
	width: 90%;
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: #fff;
	border: 1px solid #000;
	margin-top: 20px;
}


.post_modal_box {
	display : grid;
    justify-items: center;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
}

.modal_text_box {
width: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}