@charset "UTF-8";

/* 全画面共通body */
body {
  background-color:#fff4e0;
}
/* ログイン画面ロゴ */
div.logo {
  text-align: center;
  margin-left:5%;
}
/*  */
.loginb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 5vh;
}
.login {
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.input-group {
  margin-bottom: 15px;
}
.input-group label {
  display: block;
  font-weight: bold;
}
input {
 text-align: center;
 outline: 0;
 background-color: #ffffff;
 border: 2px solid transparent;
 border-radius: 3px;
 font-size: 16px;
 font-weight: 200;
 padding: 10px 0;
 width: 250px;
 transition: all 0.5s 0s ease;
}

input:focus {
border: 2px solid #ffc679;
box-shadow: none;
}

.register-link {
  text-align: center;
  margin-top: 10px;
}

/*ログインボタン*/
.login-button {
  background-color: #f99292; /* ログインボタンの色 */
  border: 2px solid transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.login-button:hover {
	box-shadow: 7px 7px 3px #666666;
}

/*新規登録ボタン*/
.sinki-button {
  background-color: #ffc679; /* 新規登録ボタンの色 */
  border: 2px solid transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.sinki-button:hover {
	box-shadow: 7px 7px 3px #666666;
}

/* エラーメッセージ */
#error_message {
  text-align: center;
  color: red;
}
.error_message {
  text-align: center;
  color: red;
}
