@charset "UTF-8";

/* 全画面共通body */
body {
	background-color:#fff4e0;
}
/* ログイン画面 */
div.logo {
  text-align: center;
}
/* 全画面共通ヘッダー */
* {
  margin:0; padding:0;
}

/* リストのクロテンを消す */
ul {
	list-style: none;
}

/* チェックボックスを消す */
input[type="checkbox"] {
  display: none;
}

/* labelのとき手を表示する */
label {
  cursor: pointer;
}


header {
	display : grid;
	grid-template-columns: 1fr 3fr 1fr;
  	height: auto;
  	width: 100%;
  	padding-top: 2vh;
  	margin-bottom: 2vh;
  	background-color: #ffc679;
 	 color: black;
	margin: 0 auto;
	justify-items: center;
  	align-items: center;
}

/* ロゴの編集 */
header .headline{
    float: left;
    font-size: 30px;
}

/* タブ */
.tab {
	display: flex;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 100%;
    justify-items: center;
  	align-items: center;
  	width: 70%;
}
.tab li {
	display: grid;
	flex: 1;
    margin: 0 10px;
    padding: 0 10px;
    background: #ffc679;
    height: 100%;
    z-index: 0;
    justify-items: center;
  	align-items: center;

}
/* 選択されたタブ */
.tab li.selected {
    background: #fff4e0;
    color: #000;
    z-index: 2;
    border-bottom-color: #FFF;
}
.tab {
    position: relative;
}
/* タブ選択前に下線 */
.tab:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
/* タブ選択後下線なし */
.tab:before {
    z-index: 1;
}
.tab li {
    position: relative;
    z-index: 0;
}
.tab li.selected {
    z-index: 2;
    border-bottom-color: #FFF;
}
.tab li:before,
.tab li:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
}
.tab li:before {
    left: -6px;
}
.tab li:after {
    right: -6px;
}
.tab li {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.tab li:before {
    border-bottom-right-radius: 6px;
}
.tab li:after {
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
}
.tab li.selected:before {
    box-shadow: 2px 2px 0 #fff4c0;
}
.tab li.selected:after {
    box-shadow: -2px 2px 0 #fff4c0;
}

/*  */
.tab a {
	text-decoration: none;
	color: #000;
}

/* マイアイコン */
.icon-circle{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
}
.icon-circle img{
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*  */
.my {
	padding-top : 2vh;
	text-align: center; /*中央寄せ */
}

/*========= ナビゲーションドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
nav{
  background:#333;
  color:#fff;
  text-align: center;
}
/*ナビゲーションを横並びに*/
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
/*2階層目以降は横並びにしない*/
nav ul ul{
  display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li{
  position: relative;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
  display: block;
  text-decoration: none;
  color: #999;
  padding:20px 35px;
  transition:all .3s;
}

nav ul li li a{
  padding:10px 35px;
}

nav ul li a:hover{
  color:#fff;
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before{
  content:'';
  position: absolute;
  left:15px;
  top:25px;
  width:6px;
  height:6px;
  border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
nav ul ul li.has-child::before{
  content:'';
  position: absolute;
  left:6px;
  top:17px;
  width:6px;
  height:6px;
    border-top: 2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(45deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has-child ul{
    /*絶対配置で位置を指定*/
  position: absolute;
  left:0;
  top:62px;
  z-index: 4;
    /*形状を指定*/
  background:#28BFE7;
  width:180px;
    /*はじめは非表示*/
  visibility: hidden;
  opacity: 0;
    /*アニメーション設定*/
  transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
  color: #fff;
  border-bottom:solid 1px rgba(255,255,255,0.6);
}

nav li.has-child ul li:last-child > a{
 border-bottom:none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active{
  background:#3577CA;
}


/*==3階層目*/

/*3階層目の位置*/
nav li.has-child ul ul{
  top:0;
  left:182px;
  background:#66ADF5;
}

nav li.has-child ul ul li a:hover,
nav li.has-child ul ul li a:active{
  background:#448ED3;
}


/*==768px以下の形状*/

@media screen and (max-width:768px){
  nav{
    padding: 0;
  }

  nav ul{
    display: block;
  }

  nav li.has-child ul,
  nav li.has-child ul ul{
    position: relative;
  left:0;
  top:0;
  width:100%;
  visibility:visible;/*JSで制御するため一旦表示*/
  opacity:1;/*JSで制御するため一旦表示*/
  display: none;/*JSのslidetoggleで表示させるため非表示に*/
  transition:none;/*JSで制御するためCSSのアニメーションを切る*/
}

nav ul li a{
  border-bottom:1px solid #ccc;
}

/*矢印の位置と向き*/

nav ul li.has-child::before{
  left:20px;
}

nav ul ul li.has-child::before{
    transform: rotate(135deg);
  left:20px;
}

nav ul li.has-child.active::before{
    transform: rotate(-45deg);
}

}


/*========= レイアウトのためのCSS ===============*/

h1{
  font-size:2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  margin-top:20px;
}

small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}


section{
  padding:30px;
}

section:nth-child(2n){
  background:#f3f3f3;
}


/*==============================
ここから検索とすべてを二つに分けるCSS
==============================*/

.search_grid{
	display:grid;
	grid-template-columns: 1fr 3fr;
}

/*=== 全体検索左側のgrid ===*/
.search_grid_left {
	background: #fff;
}

/*=== 左側のレビューアイテム編集用 ===*/
.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* レビューアイテム編集用 */

.flex-item {
  background-color:#ffffff;
  text-align: center;
  width: 90%;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap : 3vw;
}



/*==============================
ここからレビューアイテム編集用CSS
==============================*/



/* レビューのテキスト */

.grid_item2 {
	text-align : left;
}

/* ↓マイレビューのボディと並び替えの編集用CSS↓ */

.container {	
  margin: 0 3vw;
}
.scroll {
  width: 100%;
  overflow-y: scroll;
}

.scroll ::-webkit-scrollbar {
  width: 16px;
}

.scroll ::-webkit-scrollbar-track {
  background-color: #fff;
}

.scroll ::-webkit-scrollbar-thumb {
  background-color: #3760d0;
  border-radius: 8px;
}



/* マイレビュー右側の要素編集用 */

.side {
  width: 100%;
  text-align : center;
}

/* 並び替え項目 */

.sort_item{
	list-style:none;
	width: 100px;
	border: 1px solid #000;
    padding: 1vh 2vh 1vh 2vh;
    margin: 2vw auto;
    border-radius: 10%;
    background-color: #fff;
}

.sort_item li {
	padding-top: 1vh;
	padding-bottom: 1vh;
	border-bottom: 1px solid #000;
}

/*==============================
検索ボックス編集用CSS
==============================*/

.search_drop {
	text-align: center;
	margin: 10px auto;
	position: relative;
	width: 30%;
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 30px;
}

.search_drop label {
	width:100%;
}

/*===  ===*/
.search_text{
	width:100%;
	background-color: #fff;
	margin: 0 auto;
	border: 1px solid #333;
	grid-column-start: 2;
	grid-column-end: 3;
	padding: 5px;
}

/* すべてを押したときの動作 */
.search_drop input[type="checkbox"]:checked + label[for="search_drop"] + .search_drop_menu {
  display: block;
  width: 150%;
}

/*=== レビューアイテム編集用 ===*/
.search_drop_menu {
	display:none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #333;
  margin: -30px -60px;
}
/*=== レビューアコーディオ内検索ボックス ===*/
.search_search{
	grid-column-end: 3;
}

/*=== レビューアコーディオ編集用 ===*/
.search_drop_menu li {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 10px auto;
	align-items: center;
	gap : 10px;
}

.grid-label{
	grid-column-start: 3;
	grid-column-end: 4;
}

/*=== アコーディオ入力編集用 ===*/
.search_input{
	padding: 10px;
	width: 50%;
	margin: 0 auto;
	background-color: #fff4e0;
}

/*=== アコーディオ/レビュー投稿ボタン ===*/
.search_btn {
	grid-column-start: 2;
	grid-column-end: 3;
}




/* === モーダル非表示（初期） ============================== */
.modalNoDisp {
  display : none;
}

/* === モーダルバックグランド ============================== */
.modalBg {
  position   : fixed;
  overflow   : hidden;
  top        : 0;
  right      : 0;
  bottom     : 0;
  left       : 0;
  background : radial-gradient(circle at 50% 50%,
                               rgba(0, 0, 0, 0.90),
                               rgba(0, 0, 0, 0.70));
  z-index    : 10;
}

/* === モーダルバックグランド：OPEN時のアニメーション ====== */
.modalBgOpen {
  animation  : bgOpenAnime 0.3s ease;
}
@keyframes bgOpenAnime {                     /* フェードイン */
   0% { opacity: 0 }
 100% { opacity: 1 }
}

/* === モーダルバックグランド：CLOSE時のアニメーション ===== */
.modalBgClose {
  bottom     : 100%;
  animation  : bgCloseAnime 0.3s ease;
}
@keyframes bgCloseAnime {                     /* フェードイン */
   0% { opacity: 1; bottom: 0 }
 100% { opacity: 0; bottom: 0 }
}

/* === モーダルウインド ==================================== */
.modalBg .modalWindow {
                             /* モーダルウインドを中心に表示 */
  position      : absolute;
  top           : 50%;
  left          : 50%;
  transform     : translate(-50%, -50%);
  z-index       : 11;
           /* ↓モーダルウインドウの見た目：変更してください */
  width         : 300px;
  min-height    : 220px;
  background    : #fff;
  border        : 3px solid #35557f;
  border-radius : 10px;
  font-size     : 16pt;
  text-align    : center;
}